sudo apt update
sudo apt install git mysql-client -y
git clone -b main https://github.com/manugowda1/Terraform-aws.git
mysql -h ${rds-endpoint} -u ${dbuser} --password=${dbpass} accounts --ssl-mode=DISABLED < /home/ubuntu/Terraform-aws/src/main/resources/db_backup.sql